@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 200;
}

:root {
  --red:  hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 86%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: (234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}


.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding:20px;
}

.title h1, h2{
  font-size:20px;
}

.tile h1 {
  font-weight: 600;

}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px ;
  border-top: 1px solid var(--cyan);
  border-radius: 5px;
  box-shadow: 10px 10px 10px 10px var(--very-light-gray);
}

.container img {
  display: flex;
  align-self: flex-end;
  width: 20%;
  padding-top: 30px;
}

